<section id="galerie" style="position: relative">
  <jhi-spinner></jhi-spinner>
  <div class="container">
    <p class="h2">Galerie photos</p>
    <ngx-gallery #ngxgallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>

    <jhi-galerie-upload
      [filesHandle]="filesH"
      (fileHandleUploaded)="onFileUploaded($event)"
      *ngIf="isEditMode$ | async"
      [onlyIcon]="false"
      [singleMode]="singleMode"
    ></jhi-galerie-upload>
  </div>
</section>
