<header>
  <div id="menuMob" [class.opened]="isNavbarCollapsed" (click)="toggleNavbar()" class="visible-xs" #menuMob>
    <menu class="menu-button"> </menu>
  </div>
  <div class="logo">
    <img src="./content/images/logo_club.png" alt="logo du club" width="100" />
    <h1>FRENCH RIVIERA SKIPPING</h1>
  </div>

  <nav [class.opened]="isNavbarCollapsed" #nav data-cy="navbar" class="container" [ngSwitch]="account !== null">
    <ul>
      <li class="nav-item noStyle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" jhiCloseMenu [htmlElement]="[nav, menuMob]" routerLink="/" (click)="scrollTo('ancre-pres')">
          <span>
            <span>Présentation</span>
          </span>
        </a>
      </li>
      <li class="nav-item noStyle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" jhiCloseMenu [htmlElement]="[nav, menuMob]" routerLink="/" (click)="scrollTo('inscription')">
          <span>
            <span>Inscription</span>
          </span>
        </a>
      </li>
      <li class="nav-item noStyle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" jhiCloseMenu [htmlElement]="[nav, menuMob]" routerLink="/" (click)="scrollTo('galerie')">
          <span>
            <span>Galerie</span>
          </span>
        </a>
      </li>
      <li class="nav-item noStyle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" jhiCloseMenu [htmlElement]="[nav, menuMob]" routerLink="/">
          <span> Goodies </span>
        </a>
      </li>
      <li class="nav-item noStyle" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a class="nav-link" jhiCloseMenu [htmlElement]="[nav, menuMob]" routerLink="/" (click)="scrollTo('contact')">
          <span> Contact </span>
        </a>
      </li>

      <li
        *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']"
        ngbDropdown
        class="nav-item dropdown pointer noStyle"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" ngbDropdownToggle href="javascript:void(0);" id="admin-menu" data-cy="adminMenu">
          <span jhiTranslate="global.menu.admin.main">Administration</span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="admin-menu">
          <li *jhiHasAnyAuthority="['ROLE_ADMIN']" class="noStyle">
            <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active" (click)="collapseNavbar()">
              <span jhiTranslate="global.menu.admin.userManagement">Gestion des utilisateurs</span>
            </a>
          </li>
          <li *jhiHasAnyAuthority="['ROLE_ADMIN']" class="noStyle">
            <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active" (click)="collapseNavbar()">
              <span jhiTranslate="global.menu.admin.metrics">Métriques</span>
            </a>
          </li>
          <li *jhiHasAnyAuthority="['ROLE_ADMIN']" class="noStyle">
            <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active" (click)="collapseNavbar()">
              <span jhiTranslate="global.menu.admin.health">Diagnostics</span>
            </a>
          </li>
          <li *jhiHasAnyAuthority="['ROLE_ADMIN']" class="noStyle">
            <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active" (click)="collapseNavbar()">
              <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
            </a>
          </li>
          <li *jhiHasAnyAuthority="['ROLE_ADMIN']" class="noStyle">
            <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active" (click)="collapseNavbar()">
              <span jhiTranslate="global.menu.admin.logs">Logs</span>
            </a>
          </li>
          <li *jhiHasAnyAuthority="['ROLE_ADMIN']" class="noStyle">
            <ng-container *ngIf="openAPIEnabled">
              <a class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">
                <span jhiTranslate="global.menu.admin.apidocs">API</span>
              </a>
            </ng-container>
          </li>
          <!-- jhipster-needle-add-element-to-admin-menu - JHipster will add entities to the admin menu here -->
          <li *jhiHasAnyAuthority="['ROLE_ADMIN']" class="noStyle">
            <ng-container *ngIf="!inProduction">
              <a class="dropdown-item" href="./h2-console/" target="_tab" (click)="collapseNavbar()">
                <span jhiTranslate="global.menu.admin.database">Base de données</span>
              </a>
            </ng-container>
          </li>
          <li *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_GESTIONNAIRE']" class="noStyle">
            <a class="nav-item" routerLink="admin/inscription-list" routerLinkActive="active">
              <span>Gestion des inscriptions</span>
            </a>
          </li>
        </ul>
      </li>
      <li
        ngbDropdown
        *jhiHasAnyAuthority="'ROLE_ADMIN'"
        class="nav-item dropdown pointer noStyle"
        display="dynamic"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        <a class="nav-link" ngbDropdownToggle href="javascript:void(0);" id="account-menu" data-cy="accountMenu">
          <span jhiTranslate="global.menu.account.main">Compte</span>
        </a>
        <ul class="dropdown-menu" ngbDropdownMenu aria-labelledby="account-menu">
          <li *ngSwitchCase="true" class="noStyle">
            <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active" (click)="collapseNavbar()" data-cy="settings">
              <span jhiTranslate="global.menu.account.settings">Profil</span>
            </a>
          </li>
          <li *ngSwitchCase="true" class="noStyle">
            <a
              class="dropdown-item"
              routerLink="account/password"
              routerLinkActive="active"
              (click)="collapseNavbar()"
              data-cy="passwordItem"
            >
              <span jhiTranslate="global.menu.account.password">Mot de passe</span>
            </a>
          </li>
          <li *ngSwitchCase="true" class="noStyle">
            <a class="dropdown-item" routerLink="account/register" routerLinkActive="active" (click)="collapseNavbar()" data-cy="register">
              <span jhiTranslate="global.menu.account.register">Créer un compte</span>
            </a>
          </li>
        </ul>
      </li>

      <li class="d-block d-sm-none noStyle">
        <div *ngIf="account !== null">
          <a (click)="logout()" id="logout" data-cy="logout" title="déconnexion">
            <i class="fas fa-sign-in-alt" aria-hidden="true"></i>Bienvenue {{ account?.login }}
          </a>
        </div>
        <div *ngIf="account === null">
          <a title="connexion" (click)="login()" id="login" data-cy="login" routerLinkActive="active">
            <i class="fas fa-sign-in-alt"></i>Connexion
          </a>
        </div>
      </li>
    </ul>
  </nav>
  <div *ngIf="account !== null">
    <a (click)="logout()" id="logout" data-cy="logout" title="déconnexion" class="admin d-none d-sm-block"
      ><i class="fas fa-sign-in-alt"></i
    ></a>
  </div>
  <div *ngIf="account === null">
    <a class="admin d-none d-sm-block" title="connexion" (click)="login()" id="login" data-cy="login" routerLinkActive="active">
      <i class="fas fa-sign-in-alt"></i>
    </a>
  </div>
</header>
