<section id="goodies">
  <div class="container">
    <p class="h2">Nos goodies</p>
    <splide [options]="option">
      <splide-slide *ngFor="let image of goodies">
        <img [src]="image.url" alt="" />
        <p *ngIf="image?.description" class="nom text-start">{{ image.description }}</p>
        <p *ngIf="image?.prix" class="prix text-end">{{ image.prix }} €</p>
        <span (click)="editImage(image)" *ngIf="isEditMode$ | async" class="icon-goodie icon-update-goodies"
          ><fa-icon icon="pencil-alt"></fa-icon
        ></span>
        <span (click)="deleteImage(image)" *ngIf="isEditMode$ | async" class="icon-goodie icon-delete-goodies"
          ><fa-icon icon="times"></fa-icon
        ></span>
      </splide-slide>
      <splide-slide *ngIf="isEditMode$ | async">
        <i class="fas fa-plus browse-button" (click)="openModalGoodie()"></i>
      </splide-slide>
    </splide>
  </div>
</section>
