<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.FRANCE}" charset="UTF-8">
  <head>
    <title th:text="#{contact.title}">Prise de contact</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>
  <style>
    .paragraph {
      margin: 5px 0; /* Réduit la marge supérieure et inférieure à 5 pixels */
    }
  </style>
  <body>
    <p style="margin: 1px 0">
      <span>Expéditeur : </span><a th:with="mailto=${'mailto:' + email}" th:href="${mailto}" th:text="${email}">Activation link</a>
    </p>
    <p style="margin: 1px 0" th:text="#{contact.nom(${nom})}">Nom</p>
    <p style="margin: 1px 0" th:text="#{contact.prenom(${prenom})}">Prénom</p>
    <p style="margin: 1px 0" th:text="#{contact.telephone(${telephone})}">Téléphone</p>
    <br />
    <p>Message :</p>
    <p th:utext="${message}">Message</p>
  </body>
</html>
