<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.FRANCE}" charset="UTF-8">
  <head>
    <title th:text="#{contact.title}">Inscription</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" charset="UTF-8" />
    <link rel="icon" th:href="@{|${baseUrl}/favicon.ico|}" />
  </head>

  <body>
    <p>
      Bonjour, <br /><br />
      Une nouvelle inscription pour
      <span style="margin: 1px 0" th:text="${nom}">Nom</span>
      <span style="margin: 1px 0" th:text="${prenom}">Prénom</span> vient d'etre effectuée.
    </p>
  </body>
</html>
